{% extends "layouts/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center pt-5 pb-5">
    <h1 class="text-center">
        Eliminar Producto
    </h1>
</div>

<div class="row">
    <div class="col-sm-12 d-flex justify-content-center pb-5">
        <h4 class="text-center">¿Está Seguro de eliminar el producto {{ task.title }} ?</h4>
    </div>
</div>

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-1">
        <a href="{% url 'tasks.destroy' task.id %}" class="btn btn-outline-dark">Eliminar</a>
    </div>
    <div class="col-sm-1">
        <a href="{% url 'tasks.list' %}" class="btn btn-outline-dark" style="background-color:cyan">Cancelar</a>
    </div>
</div>

{% endblock %}