{% extends "layouts/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center pt-5 pb-5">
    <h1 class="text-center">
        Signup
    </h1>
</div>
<div>
    <form action="{% url 'signup.store' %}" method="POST" class="pt-5">
        {% csrf_token %}
        <div class="mb-3">
            <center>
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" class="form-control"style="width: 65%;" id="firstname" name="firstname" required>
            </center>
        </div>
        <div class="mb-3">
            <center>
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" class="form-control"style="width: 65%;" id="lastname" name="lastname" required>
            </center>
        </div>
        <div class="mb-3">
            <center>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control"style="width: 65%;" id="username" name="username" required>
            </center>
        </div>
        <div class="mb-3">
            <center>
                <label for="username" class="form-label">Email</label>
                <input type="email" class="form-control" style="width: 65%;"id="email" name="email" required>
            </center>

        </div>
        
        <div class="mb-3">
            <center>
                <label for="password1" class="form-label" >Password</label>
                <input type="password" class="form-control"  style="width: 65%;" id="password1" name="password1" required>
            </center>
        </div>
        <div class="mb-3">
            <center>
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control"style="width: 65%;"id="password2" name="password2" required>
            </center>
            </div>
        <div class="row">
            <center> <div class="col-sm-12 justify-content-start">
                <button type="submit" class="btn btn-primary">Signup</button>
                <a href="{% url 'landing' %}" class="btn btn-warning">Cancel</a>
                </div>
            </center>
        </div>
        
    </form>
</div>
{% endblock %}